name: Rosemary Unit Tests (Cypress)

on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main
        types:
            - closed  #  When a PR is merged into main

jobs:
  cypress-run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install Dependencies
        run: npm install

      - name: Start Local Server
        run: |
          npx http-server -p 8080 -c-1 &
        working-directory: . # Start server from repo root (no caching)

      - name: Run Cypress Tests
        uses: cypress-io/github-action@v5
        with:
          browser: chrome
          headless: true
